{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <style>
        .carousel-cell {
            width: 100%; /* full width */
            {#height: 300px; /* height of carousel */#}
            margin-right: 10px;
        }
        /* position dots up a bit */
        .flickity-page-dots {
            bottom: -22px;
        }
        /* dots are lines */
        .flickity-page-dots .dot {
            height: 4px;
            width: 40px;
            margin: 0;
            border-radius: 0;
            background: #686a70;
        }

        /* no circle */
        .flickity-button {
            background: transparent;
        }
        /* big previous & next buttons */
        .flickity-prev-next-button {
            width: 60px;
            height: 60px;
        }
        /* icon color */
        .flickity-button-icon {
            fill: #686a70;
        }
        /* hide disabled button */
        .flickity-button:disabled {
            display: none;
        }
    </style>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block nav_home %} active{% endblock %}

{% block carousel %}
    <div class="container-fluid mb-5">
        <div class="main-carousel"
             data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": 5000, "imagesLoaded": true }'>
            {% for post in page.carousel_stories %}
                <div class="carousel-cell">
                    <div class="container">

                        <div class="row pt-4 mb-2">
                            <div class="col-12">

                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                            {% image main_image fill-400x300 class="float-left mr-4" %}
{#                                        {{ post.intro }}#}
                                    {% endif %}
                                {% endwith %}

                                <h5>
                                    <a href="{% pageurl post %}" class="a-gray">{{ post.title }}</a>
                                </h5>
{#                                <h6>{{ post.date }}</h6>#}
                                <p style="text-align:justify;">{{ post.intro }}</p>
{#                                <p style="text-align:justify;">{{ post.body|richtext }}</p>#}

                                <p><a href="{% pageurl post %}"
                                      class="a-gray">Full story <i class="fas fa-arrow-circle-right"></i></a></p>

                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Mission and events #}
    <div class="container-fluid blue-stripe-2">
        <div class="container">
            <div class="row pt-4 pb-5 mb-4">
                <div class="col-lg-8">
                    <h3 class="a-blue">
                        Mission BS
                    </h3>
                    {{ page.mission | richtext }}
                </div>

                <div class="col-lg-4">
                    <h3>
                        <a href="#" class="a-blue">Events</a>
                    </h3>
                    <div class="card bluish-bg mb-2">
                        <div class="card-body gray-text">
                            <h5 class="card-title"><a href="#">ZTF Nobel Prize Lecture</a></h5>
                            <h6>April 1, 2019</h6>
                            <p class="card-text">Zete Eff will be giving the annual Nobel Prize Lecture.
                                Come, join me on the divan.</p>
                            <a href="#" class="float-right">Details <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="card bluish-bg mb-2">
                        <div class="card-body gray-text">
                            <h5 class="card-title"><a href="#">ZTF Pulitzer Prize Lecture</a></h5>
                            <h6>April 1, 2018</h6>
                            <p class="card-text">Zete Eff will also be giving the annual Pulitzer Prize Lecture.
                                Why the pout?</p>
                            <a href="#" class="float-right">Details <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <a href="/events" class="a-blue float-right mt-1">More events <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>
    </div>

    {# Stories #}
    <div class="container-fluid">
        <div class="container pb-5 mb-4">
{#            <div class="row pt-4 pb-5 mb-4">#}
                <h3>
                    <a href="{% slugurl 'stories' %}" class="a-gray">Featured Stories</a>
                </h3>
                <div class="grid">
                    <!-- width of .grid-sizer used for columnWidth -->
                    <div class="grid-sizer--3-col">

                        {% for post in page.featured_stories %}

                            <div class="grid-item--3-col">

                                <div class="card grayish-bg">
                                    {% with post.main_image as main_image %}
                                        {% if main_image %}
                                            {% image main_image original class="card-img-top" style="height:120px; object-fit: cover"%}
                                        {% endif %}
                                    {% endwith %}
                                    <div class="card-body gray-text">
                                        <h5 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                                        <h6>{{ post.date }}</h6>
                                        <p class="card-text">
                                            {{ post.intro }}
                                            {% if post.tags.all.count %}
                                                <div class="tags">
                                                    tags:
                                                    {% for tag in post.tags.all %}
                                                        <a href="{% slugurl 'stories-tags' %}?tag={{ tag }}">
                                                            <span class="badge badge-dark">{{ tag }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </p>
                                        <a href="{% pageurl post %}" class="btn btn-outline-primary btn-sm float-right">
                                            Continue reading
                                        </a>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </div>
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{#    <script type="text/javascript" src="{% static 'js/holder.js' %}"></script>#}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


    <script type="text/javascript">
        $(function() {
            // init masonry grid
            $('.grid').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item--3-col',
                // use element for option
                columnWidth: '.grid-sizer--3-col',
                percentPosition: true,
                horizontalOrder: true,
                gutter: 20
            });
        });
    </script>
{% endblock %}
