{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <style>
        .carousel-cell {
            width: 100%; /* full width */
            {#height: 300px; /* height of carousel */#}
            margin-right: 10px;
        }
        /* position dots up a bit */
        .flickity-page-dots {
            bottom: -22px;
        }
        /* dots are lines */
        .flickity-page-dots .dot {
            height: 4px;
            width: 40px;
            margin: 0;
            border-radius: 0;
            background: #686a70;
        }

        /* no circle */
        .flickity-button {
            background: transparent;
        }
        /* big previous & next buttons */
        .flickity-prev-next-button {
            width: 60px;
            height: 60px;
        }
        /* icon color */
        .flickity-button-icon {
            fill: #686a70;
        }
        /* hide disabled button */
        .flickity-button:disabled {
            display: none;
        }
    </style>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block nav_home %} active{% endblock %}

{% block carousel %}
    <div class="container-fluid mb-5">
        <div class="main-carousel"
             data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": 5000, "imagesLoaded": true }'>
            <div class="carousel-cell">
                <div class="container">
                    <div class="row pt-4 mb-2">
                        <div class="col-lg-4">
                            <img class="align-self-center mr-3" data-src="holder.js/300x300?theme=sky"
                             alt="Generic placeholder image">
                        </div>
                        <div class="col-lg-8">
                            <h5 class="mt-0">Center-aligned media</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>
                            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="container">
                    <div class="row pt-4 mb-2">
                        <div class="col-lg-6">
                            <h5 class="mt-0">Center-aligned media</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>
                            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <img class="align-self-center mr-3" data-src="holder.js/400x300?theme=sky"
                             alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Mission and events #}
    <div class="container-fluid blue-stripe-2">
        <div class="container">
            <div class="row pt-4 pb-5 mb-4">
                <div class="col-lg-8">
                    <h3 class="a-blue">
                        Mission BS
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                        fugiat quo voluptas nulla pariatur?
                    </p>
                </div>

                <div class="col-lg-4">
                    <h3>
                        <a href="#" class="a-blue">Events</a>
                    </h3>
                    <div class="card bluish-bg">
                        <div class="card-body gray-text">
                            <h5 class="card-title">ZTF Nobel Prize Lecture</h5>
                            <p class="card-text">Zete Eff will be giving the annual Nobel Prize Lecture.
                                Come, join me on the divan.</p>
                            <a href="#" class="btn btn-outline-primary btn-sm float-right">Details</a>
                        </div>
                    </div>
                </div>
            </div>
{#            {{ page.body|richtext }}#}
        </div>
    </div>

    {# Stories #}
    <div class="container-fluid">
        <div class="container pb-5 mb-4">
{#            <div class="row pt-4 pb-5 mb-4">#}
                <h3>
                    <a href="#" class="a-gray">Featured Stories</a>
                </h3>
                <div class="grid">
                    <!-- width of .grid-sizer used for columnWidth -->
                    <div class="grid-sizer--3-col">

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">
                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">
                                        Continue reading
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">
                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">
                                        Continue reading
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">

                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">
                                        Continue reading
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">
                                <img class="card-img-top" data-src="holder.js/100px100?theme=sky" alt="Card image cap">
                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">
                                        Continue reading
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">
                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">
                                        Continue reading
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="grid-item--3-col">

                            <div class="card grayish-bg">
                                <img class="card-img-top" data-src="holder.js/100px100?theme=sky" alt="Card image cap">
                                <div class="card-body gray-text">
                                    <h5 class="card-title"><a href="#">Story title</a></h5>
                                    <h6>April 1, 2018</h6>
                                    <p class="card-text">Story intro text. Sic transit gloria mundi.
                                    Omnia mea mecum porto ad finem saeculorum.
                                        <div class="tags">
                                            tags:
                                            <a href="#">
                                                <span class="badge badge-primary">story-tag</span>
                                            </a>
                                        </div>
                                    </p>
                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">Continue reading</a>
                                </div>
                            </div>

                        </div>

{#                        {% for post in docpages %}#}
{#                            <div class="grid-item--3-col">#}
{#                                {% with post=post.specific %}#}
{#                                    <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>#}
{#                                    <h6>{{ post.date }}</h6>#}
{#            #}
{#                                    <div class="media">#}
{#                                        <div class="media-body">#}
{#                                            {{ post.intro }}#}
{#                                            {{ post.body|richtext }}#}
{#                                            {% if post.tags.all.count %}#}
{#                                                <div class="tags">#}
{#                                                    tags:#}
{#                                                    {% for tag in post.tags.all %}#}
{#                                                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">#}
{#                                                            <span class="badge badge-primary">{{ tag }}</span>#}
{#                                                        </a>#}
{#                                                    {% endfor %}#}
{#                                                </div>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
{#            #}
                                    {# {{ post.body|richtext }} #}
{#                                {% endwith %}#}
{#                            </div>#}
{#                        {% endfor %}#}

                    </div>
                </div>
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{#    <script type="text/javascript" src="{% static 'js/holder.js' %}"></script>#}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


    <script type="text/javascript">
        $(function() {
            // init masonry grid
            $('.grid').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item--3-col',
                // use element for option
                columnWidth: '.grid-sizer--3-col',
                percentPosition: true,
                horizontalOrder: true,
                gutter: 20
            });
        });
    </script>
{% endblock %}
