{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectspage{% endblock %}

{% block nav_projects %} active{% endblock %}

{% block content %}
    <div class="container mt-0 pt-1 pb-5 mb-4">
        <div class="row">
            <div class="col">
                <h2>{{ page.title }}</h2>
                <p class="meta">{{ page.date }}</p>

                <div class="intro">{{ page.intro }}</div>

                <p>{{ page.body|richtext }}</p>

                {% for item in page.gallery_images.all %}
                    <div>
                        {% image item.image fill-400x300 %}
                        <p>{{ item.caption }}</p>
                    </div>
                {% endfor %}

                {% if page.tags.all.count %}
                    <div class="tags">
                        tags:
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'projects-tags' %}?tag={{ tag }}">
                                <span class="badge badge-primary">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <p><br><a href="{{ page.get_parent.url }}" class="a-gray">To projects <i class="fas fa-arrow-circle-left"></i></a></p>
            </div>
        </div>
    </div>

{% endblock %}