html {
    position: relative;
    min-height: 100%;
    font-weight: lighter !important;
}
body {
    /*font-family: 'Roboto', sans-serif !important;*/
    /*padding-top: 2.2rem;*/
    /*!*font-size: 0.9rem;*!*/
    font-size: 0.9rem;
    /*font-weight: 300;*/
    font-weight: lighter !important;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    background-color: #343a40 !important;
    color: #f0f0f1 !important;
}
pre {
    background-color: #f8f9fa;
    padding: 0.3rem;
}
code {
    background-color: #e7e8ea;
}
.navbar {
    padding: 0.4rem 2rem !important;
}

.nav-link {
    font-weight: lighter !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    font-size: 0.9rem;
    /*font-weight: 300;*/
    font-weight: lighter !important;
    background-color: #272932;
    color: #5a5c62;
}

.wrapper {
    column-count: 2;
    column-gap: 50px;
    padding: 50px;
}

.gray-stripe {
    background-color: #272932 !important;
    color: #686a70 !important;
}

.blue-stripe {
    background-color: #1460b7 !important;
    color: #b4deee !important;
}

.blue-stripe-2 {
    background-color: #0c84d6 !important;
    /*color: #70a2d6 !important;*/
    color: #b4deee !important;
}

.gray-text {
    color: #272932 !important;
}

.a-blue {
    color: #d3f6fe !important;
}
.a-blue:hover {
    color: #ffffff !important;
}

.a-gray {
    color: #f0f0f1 !important;
}
.a-gray:hover {
    color: #ffffff !important;
}

.bluish-bg {
    background-color: #f5fff5 !important;
}

.grayish-bg {
    background-color: #f3f4ee !important;
}

body > .container {
    padding: 50px 15px 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Masonry Grid */
:root {
    --vertical-spacing: 20px;
    /* must change gutter in home_page.html as well */
    --horizontal-spacing: 20px;
}

.grid-sizer--1-col {
    width: 100%;
}

.grid-item--1-col {
    width: 100%;
    margin-bottom: var(--vertical-spacing);
}

.grid-sizer--2-col {
    /* 1 column by default */
    width: 100%;
}
.grid-item--2-col {
    width: 100%;
    margin-bottom: var(--vertical-spacing);
}

.grid-sizer--3-col {
    width: 100%;
}
.grid-item--3-col {
    width: 100%;
    margin-bottom: var(--vertical-spacing);
}

/*!* N columns *!*/
@media screen and (min-width: 768px) {
    .grid-sizer--2-col {
        /*width: calc(33.333% - var(--horizontal-spacing));*/
        width: calc(50% - var(--horizontal-spacing));
        /*width: calc(66.666% - var(--horizontal-spacing));*/
    }

    .grid-item--2-col {
        /*width: calc(33.333% - var(--horizontal-spacing));*/
        width: calc(50% - var(--horizontal-spacing));
        /*background: rgba(234, 234, 234, 0.26);*/
        /*padding: 1em;*/
        margin-bottom: var(--vertical-spacing);
    }

    .grid-sizer--3-col {
        width: calc(33.333% - 2*var(--horizontal-spacing));
        /*width: calc(50% - var(--horizontal-spacing));*/
        /*width: calc(66.666% - var(--horizontal-spacing));*/
    }

    .grid-item--3-col {
        width: calc(33.333% - 2*var(--horizontal-spacing));
        /*width: calc(50% - var(--horizontal-spacing));*/
        /*background: rgba(234, 234, 234, 0.26);*/
        /*padding: 1em;*/
        margin-bottom: var(--vertical-spacing);
    }
}